<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Álbuns</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">JarvisDiscos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Página Inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/albums">Lista de Álbuns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/albums/create">Cadastrar Álbum</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <h1 class="text-center mb-4">Lista de Álbuns</h1>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>Nome do Álbum</th>
      <th>Artista</th>
      <th>Gênero</th>
      <th>Data de Lançamento</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="album : ${albums}">
      <td th:text="${album.nomeAlbum}">Nome do Álbum</td>
      <td th:text="${album.artista.nomeArtista}">Nome do Artista</td>
      <td th:text="${album.genero}">Gênero</td>
      <td th:text="${album.dataLancamento}">Data de Lançamento</td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
